<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand"  routerLink="/">Hani Realstate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/rent-property">Rent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/add-property">List Property(free)</a>
      </li>

    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->


    <div>
      <ul class="nav navbar-nav">
        <li *ngIf="!loggedin()" class="nav-item">
          <a class="nav-link" routerLink="user/register" routerLinkActive="active">Register</a>
        </li>
        <li *ngIf="!loggedin()" class="nav-item">
          <a class="nav-link" routerLink="user/login" routerLinkActive="active">Login</a>
        </li>
        <!-- <li *ngIf="loggedIn()" class="nav-item" style="cursor:pointer;">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li> -->
        <!--this required ngx-bootstrap to install 'npm install ngx-bootstrap --save' -->
        <div *ngIf="loggedin()" class="dropdown mr-5" dropdown>
          <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
              Welcome {{loggedinUser}}
          </a>
          <div class="dropdown-menu" *dropdownMenu>
              <a href="#"class="dropdown-item">
                <i class="fas fa-tachometer-alt"></i> View Dashboard</a>
              <a href="#" class="dropdown-item">
                <i class="far fa-user-circle"></i> My Profile</a>
              <a href="#" class="dropdown-item">
                <i class="fas fa-key"></i> Change Password</a>
              <a (click)='onLogout()' class="dropdown-item" style="cursor: pointer;">
                <i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </div>

      </ul>
    </div>

  </div>

</nav>
