
<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form #loginForm='ngForm' (ngSubmit)="onLogin(loginForm)">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" ngModel #name='ngModel' required>
          </div>



          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" ngModel #password='ngModel' required>
          </div>


          <div class="form-group col-12">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary mx-1">Login</button>
            <button type="reset" class="btn btn-secondary mx-1">Cancel</button>
          </div>
          Form Values: {{loginForm.value|json}} <br/>
          Form Status: {{loginForm.valid}}
        </form>
      </div>
    </div>
  </div>
</div>
