
    <div class="card img-zoom">
      <div class="card-img-wrapper rounded-lg">
        <img *ngIf="property.image" src="assets/images/{{property.image}}" class="card-img-top" alt="...">
        <img *ngIf="!property.image" src="assets/images/house-default.jpg" class="card-img-top" alt="...">
        <ul class="list-inline text-center member-icons icon-animate">
          <li class="list-inline-item">
            <button class="btn btn-primary" routerLink="/property-details/{{property.Id}}"><i class="far fa-edit"></i></button>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-primary"><i class="far fa-id-badge"></i></button>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{property.Name}}</h5>
        <p class="card-text">{{property.Type}}</p>
        <p class="card-text">{{property.Price}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
